<!DOCTYPE html>
<html>
    <head>
        <link href="Machine.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>CASINO</h1>
        </header>
        <div id="hh2">
            <h2>La machine à sous</h2>
        </div>
        <section id="a">
            
            <div id="ZoneR">
                <div class="Roul">
                    <p class="Res" th:utext="${Machine.Res1}">...</p>
                </div>
                <div class="Roul">
                    <p class="Res" th:utext="${Machine.Res2}">...</p>
                </div>
                <div class="Roul">
                    <p class="Res" th:utext="${Machine.Res3}">...</p>
                </div>
            </div>
        </section>
        <section id="b">
            <div id="jou">
                <p id="som">Somme à jouer :</p>
                <input id="inp" th:field="{Pari}">
                <button id="bjou" type="submit" name="action" value="Jouer">Jouer</button>
            </div>
        </section>

    </body>
</html>