<!DOCTYPE html>
<html>
  <head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/tuto.css}" rel="stylesheet">
  </head>
  <body>
    <header>
  	  	<form action="#" data-th-action="@{/ChoixJeu}">
			<button type="submit" name="action" value="save">Menu</button>
		</form>
    </header>

    <div id="roulette" class="turn"><img th:src="@{/img/roulette.png}" alt="roulette not found" /> </div>


    <div class="container green" id="baize">

      <div id="betting">
        <div><p>Votre mise :</p>
        <input type="number" id="bet" name="bet" placeholder="100">
        <button class="play">JOUER</button>
      </div>

    </div>

      <div class="array">
        <div class="row ">
                  <button class="col-lg-4 zero ">0</button>
          <div class="col-lg-12">
            <div class="row wwhite">
              <button class="col-lg-1 red wwhite">3</button>
              <button class="col-lg-1 black wwhite">6</button>
              <button class="col-lg-1 red wwhite">9</button>
              <button class="col-lg-1 red wwhite">12</button>
              <button class="col-lg-1 black wwhite">15</button>
              <button class="col-lg-1 red wwhite">18</button>
              <button class="col-lg-1 red wwhite">21</button>
              <button class="col-lg-1 black wwhite">24</button>
              <button class="col-lg-1 red wwhite">27</button>
              <button class="col-lg-1 red wwhite">30</button>
              <button class="col-lg-1 black wwhite">33</button>
              <button class="col-lg-1 red wwhite">36</button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row wwhite">
              <button class="col-lg-1 black wwhite">2</button>
              <button class="col-lg-1 red wwhite">5</button>
              <button class="col-lg-1 black wwhite">8</button>
              <button class="col-lg-1 black wwhite">11</button>
              <button class="col-lg-1 red wwhite">14</button>
              <button class="col-lg-1 black wwhite">17</button>
              <button class="col-lg-1 black wwhite">20</button>
              <button class="col-lg-1 red wwhite">23</button>
              <button class="col-lg-1 black wwhite">26</button>
              <button class="col-lg-1 black wwhite">29</button>
              <button class="col-lg-1 red wwhite">32</button>
              <button class="col-lg-1 black wwhite">35</button>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row wwhite">
              <button class="col-lg-1 red wwhite">1</button>
              <button class="col-lg-1 black wwhite">4</button>
              <button class="col-lg-1 red wwhite">7</button>
              <button class="col-lg-1 black wwhite">10</button>
              <button class="col-lg-1 black wwhite">13</button>
              <button class="col-lg-1 red wwhite">16</button>
              <button class="col-lg-1 red wwhite">19</button>
              <button class="col-lg-1 black wwhite">22</button>
              <button class="col-lg-1 red wwhite">25</button>
              <button class="col-lg-1 black wwhite">28</button>
              <button class="col-lg-1 black wwhite">31</button>
              <button class="col-lg-1 red wwhite">34</button>
            </div>
          </div>
          <div class="col-lg-12 ">
              <div class="row wwhite centerCase">
                <button class="col-lg-1 black wwhite">Pair</button>
                <button class="col-lg-1 black wwhite">Impair</button>
                <button class="col-lg-1 red wwhite">Rouge</button>
                <button class="col-lg-1 black wwhite">Noir</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>