<!DOCTYPE html>
<html>
  <head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/machine.css}" rel="stylesheet">
  </head>
    <body>
     <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <form action="#" data-th-action="@{/choixDeJeux}">
				<button class="btn btn-secondary my-2" type="submit" name="action" value="save">Acceuil</button>
			</form>	 
      </a>
      
       <div class="links links-not-log"> 
       		
			 <div id="betting" >Joueur 1 </div>
      		<div id="betting"> Score : </div>
       </div>
    </div>
  </div>
        <div id="hh2">
            <h2>La machine à sous</h2>
        </div>
        <section id="a">
            
            <div id="ZoneR">
                <div class="Roul">
                    <p class="Res" th:utext="${message}">...</p>
                </div>
                <div class="Roul">
                    <p class="Res" th:utext="${message}">...</p>
                </div>
                <div class="Roul">
                    <p class="Res" th:utext="${message}">...</p>
                </div>
            </div>
        </section>
        <section id="b">
            <div id="jou">
                <p id="som">Somme à jouer :</p>
                <input id="inp" >
                <button id="bjou" type="submit" name="action" value="Jouer">Jouer</button>
            </div>
        </section>

    </body>
</html>